@use "./main";

#temperature{
  width: 4em;
  text-align: center;
  margin-left: 1em;
}

#icon{
  width: 4em;
  height: 4em;
  margin-right: 1em;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

h1 {
  font-family: math;
  font-size: 26px;
}

#donnee, #historique, #chargement{
  margin-left: 20%;
  background-color: aliceblue;
  width: 60%;
  margin-right: 20%;
  border-radius: 8px;
  padding: 1rem;
  margin-top: 1rem;
}

#historique, #donnee{
  display: none;
}

li{
  margin-top: 1rem;
}

#affichage-temperature{
  display: flex;
}
#selecteur{
  background-color: lightskyblue;
  border: none;
  display: flex;
  justify-content: center;
  width: 60%;
  margin-left: 20%;
  border-radius: 8px;
}
button{
  width: -webkit-fill-available;
  height: 2rem;
  background-color: lightskyblue;
  border: none;
  border-radius: 8px;
}

button:hover{
  background-color: powderblue;
  cursor: pointer;
}

#message{
  height: 2em;
  margin-top: 1rem;
}

.froid{
  border: 2px solid blue;
}

.normal{
  border: 2px solid green;
}

.chaud{
  border: 2px solid orange;
}

.tres-chaud{
  border: 2px solid red;
}