@use "variable";

button#sidebar-toggle {
  width: fit-content;
  float: left;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

#sidebar {
  position: fixed;
  top: 0;
  left: -200px;
  width: 200px;
  height: 100%;
  background-color: #333;
  color: #fff;
  transition: left 0.3s ease-in-out;
}

#sidebar ul {
  list-style-type: none;
  padding: 0;
}

#sidebar ul li {
  padding: 10px;
}

#sidebar ul li a {
  color: #fff;
  text-decoration: none;
}