<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Hot Hot Hot</title>
    <link rel="stylesheet" href="../assets/style/temp.css"/>
    <link rel="icon" href="../assets/images/icon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="../assets/style/homepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<!-- Code commun a chacune des pages -->
<button id="sidebar-toggle"><img src="../assets/images/icon_menu.png" alt=""></button>

<nav id="sidebar" style="left: -200px">
    <ul>
        <li><a href="homepage.html"><i class="fa fa-home" aria-hidden="true"></i> Accueil</a></li>
        <li><a href="Documentation.html"><i class="fa fa-file-text" aria-hidden="true"></i> Documentation</a></li>
    </ul>

    <ul class="sidebar-bot">
        <li><a href="https://github.com/BUT2-Alternant/HotHotHot"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a></li>
        <li><a href="Documentation.html">//A COMPLETER</a></li>
    </ul>
</nav>
<!-- fin du code commun a chacune des pages -->

<header>
    <img src="../assets/images/icon.png" alt="" id="icon">
    <h1 role="heading" aria-label="Ce site va vous présenter la météo">Météo actuelle</h1>
</header>

<nav id="selecteur">
    <button role="button" aria-label="Afficher les données actuelles" onclick="changerOnglet(event)" id="bouton-donnee"><b>Données</b></button>
    <button role="button" aria-label="Afficher l'historique" onclick="changerOnglet(event)" id="bouton-historique"><b>Historique</b></button>
</nav>

<section id="donnee" aria-disabled="true">
    <div class="temperature-div">
        <div class="temperature-text">
            <div>
                Température Extérieure
            </div>
            <div id="fieldOutside">
            </div>
        </div>
        <div>
            <div class="termometer">
                <div class="temperature" id="temperatureOutside" style="height:0" data-value="0°C"></div>
                <div class="graduations"></div>
            </div>
        </div>
    </div>

    <div class="temperature-div">
        <div class="temperature-text">
            <div>
                Température Intérieure
            </div>
            <div id="fieldInside">
            </div>
        </div>
        <div>
            <div class="termometer">
                <div class="temperature" id="temperatureInside" style="height:0" data-value="0°C"></div>
                <div class="graduations"></div>
            </div>
        </div>
    </div>
</section>

<section id="historique" aria-disabled="true">
    <div>
        <canvas id="temperatureChart" style="width:100%;max-width:700px"></canvas>
    </div>
</section>

<section id="chargement" aria-disabled="false">
    <p>Récupération des données en cours...</p>
</section>
<script src="../assets/script/script.js"></script>
<script src="../assets/script/tabController.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
<script type="module" src="../assets/script/heat.js"></script>

</body>
</html>

