$black: #130E0D;
$blue-cold: #509CFF;
$red-hot: #FC3F3F;
$platinum-neutral: #E1E6E1;
$yellow-sun: #FFC277;

$global_modal_background: #D3E0EF;
$global_modal_background_hover: #97B2EC;
$global_section_background: aliceblue;